.welcome-content .text-content {
    font-family: var(--ff-hand);
    flex-direction: column;
    padding: 3rem 0.3rem;
  }

  .welcome-content .text-content p {
    font-size: var(--fs-400);
    font-weight: 600;
  }

  .welcome-content .text-content h3 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .welcome-content > .container > .media-content {
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: hsl(var(--clr-silver));
  }

  .welcome-content > .container > .access-button {
    position: absolute;
  }


