/* to do the welcome text animation*/

.welcome-logo {
  padding-inline: 0.33rem;
}

#welcome-text {
  height: 88vh;
  max-height: 50rem;
}

.welcome-content > .nav-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 54rem;
  max-width: 80rem;
}

@media screen and (max-width: 320px) {
  .welcome-logo,
  #welcome-text {
    transform: scale(81%);
  }
}
@media screen and (min-width: 600px) {
  /* .media-content {
    background-image: url('https://source.unsplash.com/x_V62hOwnDk');
    width: 100vw;
  } */
}
