/* hamburger */

.checkbox {
  display: none;
}

.button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  background: hsl(var(--clr-white));
  border: 2px solid hsl(var(--clr-dark));
  text-align: center;
  cursor: pointer;
  margin: 1rem;
}

.button:hover,
.button:focus {
  /* border: 3px solid hsl(var(--clr-dark)); */
  box-shadow: 0 0 0 0.11rem hsl(var(--clr-red) / 0.99);
}

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: hsl(var(--clr-white));
  z-index: 1;
  opacity: 1;
  border: 1px solid hsl(var(--clr-dark));
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  margin: 1rem;
}

.pages-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 2;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.pages-menu-items-list {
  position: relative;
  top: 33%;
  right: 6rem;
  background-color: hsl(var(--clr-dark) / 0.33);
  /* margin: auto; */
  opacity: 1;
  transition: 1s ease-in-out;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.pages-menu-items-list .pages-menu-item {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  color: hsl(var(--clr-red));
  border: 2px solid hsl(var(--clr-dark));
  background: hsl(var(--clr-white));
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: var(--fs-400);
  pointer-events: none;
  transition: 1s;
  position: absolute;
}
/* .pages-menu-items-list .pages-menu-item {
  opacity: 1;
  position: absolute;
  z-index: 99;
  border: 1px solid red;
} */

/* .link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
} */

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(14);
  position: relative;
}

.checkbox:checked ~ .pages-nav {
  opacity: 1;
  width: 99%;
  position: absolute;
  left: 50%;
  top: -60px;
}

.checkbox:checked
  ~ .pages-nav
  > .pages-menu-items-list
  > .pages-menu-item:nth-child(1) {
  transform: rotate(10deg) translateX(-3.3rem) translateY(-3.3rem);
}
.pages-menu-item:nth-child(2) {
  transform: rotate(20deg) translateX(-4.2rem) translateY(-4.2rem);
}
.pages-menu-item:nth-child(3) {
  transform: rotate(20deg) translateX(-6rem) translateY(-6rem);
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: hsl(var(--clr-red));
  display: inline-block;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
