.main {
  justify-items: center;
  overflow: hidden;
}

.inline-components-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .inline-components-section {
    flex-direction: row;
    gap: 1rem;
    columns: 1fr 1fr;
  }
}
