.main {
  justify-items: center;
  overflow: hidden;
}

.inline-components-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .inline-components-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
