.main {
  flex-direction: column;

  .logo {
    max-width: 600px;
  }

  .title {
    font-weight: bold;
  }

  .content {
    border: 1px solid red;
    font-weight: lighter;

    .media {
      border: 1px solid grey;
      width: 100%;
      height: 30rem;
      background-color: rgba(239, 177, 177, 0.5);
    }

    .enter-button {
      position: absolute;
      width: 12rem;
      height: 6rem;
      border-radius: 50%;
      border-color: red;
      background-color: lightgray;
    }
  }
}