.camps-component {
  overflow: hidden;
  margin-top: 6rem;
}
#camps-component-text {
  text-shadow: 0 0.1rem 0.1rem hsl(var(--clr-dark));
}
.camps-background {
  position: absolute;
  top: -1rem;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0.33rem;
  background-image: url('http://drive.google.com/uc?export=view&id=1iqbwhfmhydyvqdpQWtzXkttg-XtEnHJF');
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(0.15rem);
  transition: all 1s ease-in;
}
.camps-component:hover .camps-background {
  filter: blur(0);
  scale: 110%;
}
