.about-page-content {
  background-image: url('./jump9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 0 1rem hsl(var(--clr-gold));
}

.about-page-content section {
  border-bottom: 2px solid hsl(var(--clr-dark));
}
