.schedule-page {
  min-height: 100vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.schedule-container {
  border: 0.15rem solid hsl(var(--clr-dark));
  width: 90vw;
  max-width: 77rem;
  height: 30rem;
  margin: 2rem 0;
}
