.schedule-page {
  min-height: 100vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.schedule-container {
  border: 0.15rem solid hsl(var(--clr-dark));
  width: 90vw;
  max-width: 77rem;
  height: 30rem;
  margin: 2rem 0;
}
.back-button {
  position: absolute;
  top: 25%;
  left: 0;
}
.back-button > button {
  width: 88px;
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-light));
  /* border-radius: 0.33rem; */
  font-size: var(--fs-900);
  border: none;
  transition: transform 0.5s ease-in-out;
}
.back-button > button:hover {
  transform: scale(110%);
  cursor: pointer;
  color: hsl(var(--clr-red));
}
