.camps-page {
  position: relative;
  min-height: 100vh;
}

.camp-section {
  margin-top: 3rem;
}

.camp-title {
  padding: 1rem;
}

.camps-page-content {
  padding-inline: 0.3rem;
}

.camp-description {
  padding: 0.3rem;
}

iframe {
  border: none;
  max-height: 99vh;
}
