.camps-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.camps-container {
  flex-direction: column;
  width: 99%;
  margin: 0 auto;
}

.camps-title {
  padding: 0.3rem;
}

.camps-page-content {
  padding-inline: 0.3rem;
}

.camp-video {
  max-height: 100vh;
}

iframe {
  border: none;
}
